body {
    background: url("images/face_2.svg");
    background-size: cover;
}

a {
    color: rgb(55, 16, 133);
    text-decoration: none;
}

a:visited {
    color: rgb(55, 16, 133);
}

a:active {
    color: teal;
}

#ver {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(21, 97, 5, 0.808);
    font-size: x-large;
}

#noVer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(168, 34, 24, 0.808);
    font-size: x-large;
}

#verified {
    float: right;
    width: 20em;
    border: 1px solid rgb(42, 8, 110);
    box-shadow: 8px 8px 5px rgb(123, 76, 218);
    padding: 8px 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    vertical-align: middle;
}

#notVerified {
    float: left;
    width: 20em;
    border: 1px solid rgb(42, 8, 110);
    box-shadow: 8px 8px 5px rgb(123, 76, 218);
    padding: 8px 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}